.cart_card {
  position: absolute !important;
  width: 600px;
  top: 50px;
  right: 10px;
  z-index: 100;
}
.cart_image {
  height: 80px;
  width: 80px;
  border-radius: 5px;

  border: 1px solid skyblue;
}
.cart_item_title {
  margin-left: 15px;
  display: inline-block;
  /* text-align: center; */
  height: 50px !important;
  width: 90px;
  text-align: center;
}
.cart_close {
  position: absolute;
  margin: 20px;
  right: 10px;
  top: 15px;
  border: 1px solid !important;
}
.cart_heading {
  text-align: center;
  margin-top: 50px;
  position: relative;
}
.purchase_btn {
  position: relative;
  left: 250px;
  background-color: skyblue !important;
  font-weight: bold;
  width: 100px;
  margin: 20px;
}
.cart_quantity {
  display: inline-block;
  width: 30px;
  text-align: center;
  border: 1px solid skyblue;
  margin-right: 20px;
  margin-top: 20px;
}
.card_body {
  max-height: 400px;
  overflow: scroll;
}
.carttotal {
  margin: 10px;
  display: inline-block;
}
.carttotalnumber {
  left: 480px;
  display: inline !important;
  position: absolute;
  bottom: 80px;
  color: green;
}
.cart_inc_dec {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid red;
  color: red;
  text-align: center;
  font-weight: 100px;

  font-size: larger;
}
.removebtn {
  margin-left: 40px;
}
.cartItemPrice {
  margin-top: 20px;
}
