.cart {
  border: 2px solid skyblue !important;
  width: 60px;
  border-radius: 5px;
  position: absolute;
  right: 30px;
  color: white !important;
  text-align: center;
  font-family: serif !important;
}
.cart_item_number {
  position: absolute;
  right: 20px;
  bottom: 27px;
  color: skyblue;
  font-weight: bold;
  font-family: serif;
}
