.aboutHeading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.aboutpage {
  top: 100px;
  left: 200px;
  width: 70%;
  position: relative;
}
.about {
  position: relative;
  left: 200px;
  width: 70%;
}
.aboutImg {
  float: left;
  height: 250px;
  margin-right: 40px;
}
