.footer {
  background-color: skyblue;
  position: absolute;
  top: 800px;
  width: 100%;
  height: 100px;
}
.footerheading {
  display: inline-block;
  color: white;
  position: absolute;
  left: 300px;
  top: 35px;
}
