.headerheading {
  width: 100%;
  height: 200px;
  background-color: gray;
  position: relative;
  top: 55px;
  text-align: center;
}
.headerheading h1 {
  font-size: 8vw;
  color: white;
  padding-bottom: 50px;
}
