.navbarheading {
  color: white;

  position: absolute;
  right: 770px;
  bottom: 3px;
  font-family: serif;
}
.navbar {
  position: relative;
  height: 50px;
  position: fixed;
  width: 100%;
}
.navbarstore {
  color: white;

  position: absolute;
  right: 670px;
  bottom: 3px;
  font-family: serif;
}
.navbarabout {
  color: white;

  position: absolute;
  right: 570px;
  bottom: 3px;
  font-family: serif;
}
.navbarcontact {
  color: white;

  position: absolute;
  right: 450px;
  bottom: 3px;
  font-family: serif;
}
.navbarlogin {
  color: white;
  position: absolute;
  right: 300px;
  bottom: 3px;
  font-family: serif;
  /* color: skyblue; */
  border: 1px solid skyblue;
  border-radius: 5px;
  width: 50px;
  text-align: center;
  background-color: skyblue;
}
.logoutbtn {
  color: white;

  position: absolute;
  right: 200px;
  bottom: 3px;
  font-family: serif;
  border: 1px solid skyblue;
  background-color: skyblue;
  border-radius: 5px;
}
