.contactpage {
  /* align-items: center; */
  /* align-content: center; */
  background-color: skyblue;
  height: 100vh;
}
.forminput {
}
.form {
  text-align: center;
  padding: 30px;
  width: 400px;
  background-color: wheat;
  /* position: relative;
  top: 200px;
  left: 450px; */
  border-radius: 10px;
}
.form button[type="submit"] {
  margin: 20px;
}
.togglebutton {
  width: 300px;
  border: 0px solid;
  background: wheat;
}
